.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    /* retirar a linha de baixo */
    text-decoration: none;
    transition: 0.5s;
}

/* vamos mudar quando passar o mouse me cima */

.btn:hover {
    color: #ffbb33;
}